.wp-block-uagb-faq-child .uagb-faq-questions-button {

    cursor: pointer;
    display: table;
    padding: 15px;
    .uagb-faq-icon-wrap {

        display: table-cell;
        vertical-align: middle;
    }
    .uagb-question {

        display: table-cell;
        padding-left: 20px;
    }
}
.wp-block-uagb-faq-child .uagb-content p {
    margin: 0;
    padding: 15px;
}
.uagb-icon svg {

    width: 15px;
    height: 15px;
    font-size: 15px;
}
.wp-block-uagb-faq-child .uagb-faq-item .uagb-content {
    display: none;
}
