.uagb-buttons-layout-wrap .uagb-faq-child__outer-wrap:first-child .uagb-faq-item .uagb-content{display:block}.uagb-buttons-layout-wrap .uagb-faq-child__outer-wrap:first-child .uagb-faq-item.uagb-faq-item-active .uagb-content{display:none}
